body{
    background-color: #232323;
    
}
.square{
    width: 30%;
    float: left;
    margin: 1.66%;
    padding-top: 30%;
    background-color:rgb(28, 219, 53);
}

#container{
    width: 600px;
    margin: 0 auto;
}

h1{
    color: white;
}

#colorDisplay{
    text-transform: uppercase;
}

#message{
    color: black;
}

#stripe{
    background-color:white;
    text-align: center;
    height: 30px;
}

button{
    height: 100%;
}

.selected{
    background-color: blue;
}